{% extends 'base/base.html' %}

{% block content %}
    <h1>Детали бага {{ bug.id }}</h1>
    <ul>
        <li>Название: {{ bug.title }}</li>
        <li>Описание: {{ bug.description }}</li>
        <li>Статус: {{ bug.status }}</li>
        <li>Приоритет: {{ bug.priority }}</li>
    </ul>

    <p><a href="{% url 'quality_control:update_bug' bug.id %}">Изменить отчёт об ошибке</a></p>

    <!-- <p><a href="{% url 'quality_control:delete_bug' bug.id %}" onclick="return confirm('Вы уверены, что хотите удалить этот отчёт об ошибке?');">Удалить отчёт об ошибке</a></p> -->
    <p><a href="{% url 'quality_control:delete_bug' bug.id %}">Удалить отчёт об ошибке</a></p>
{% endblock %}
