{% extends 'base/base.html' %}

{% block content %}
    <h1>Детали улучшения {{ feature.id }}</h1>
    <ul>
        <li>Название: {{ feature.title }}</li>
        <li>Описание: {{ feature.description }}</li>
        <li>Статус: {{ feature.status }}</li>
        <li>Приоритет: {{ feature.priority }}</li>
    </ul>

    <p><a href="{% url 'quality_control:update_feature' feature.id %}">Изменить запрос на улучшение</a></p>

    <!-- <p><a href="{% url 'quality_control:delete_feature' feature.id %}" onclick="return confirm('Вы уверены, что хотите удалить этот запрос на улучшение?');">Удалить запрос на улучшение</a></p> -->
    <p><a href="{% url 'quality_control:delete_feature' feature.id %}">Удалить запрос на улучшение</a></p>
{% endblock %}
